<section class="section_what_iis">
  <div class="section_what_iis__content">
      <h1>Что такое ИИС?</h1>
      <p class="section_what_iis__desc">
        ИИС (Индивидуальный инвестиционный счет) - это особый вид брокерского<br>
        счета, с помощью которого можно получать до 52 000 рублей от суммы<br>
        пополнения в год в виде налогового вычета
      </p>
    <div class="section_what_iis__cards">
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Просто начать',
          p: 'Пользоваться ИИС так же просто, как<br/>и банковским вкладом, нужно только<br/>открыть и пополнить счет',
          img: '../../img/section_what_iis/click.svg'
        })
      </div>
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Доступный счет',
          p: 'Пополнять счет можно в течение всего<br/>срока, частями или всю сумму сразу',
          img: '../../img/section_what_iis/calendar.svg'
        })
      </div>
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Государственная поддержка',
          p: 'ИИС запущен по программе<br/>Министерства финансов РФ в 2015 году,<br/>выплаты по ИИС производятся<br/>Федеральной налоговой службой',
          img: '../../img/section_what_iis/house.svg'
        })
      </div>
    </div>
  </div>
</section>