@import '../variables';
@import '../common';

.section_what_iis {
  display: flex;
  justify-content: center;
  &__content {
    @extend %content;
    flex-direction: column;
    flex-wrap: wrap;
  }
  // top block
  &__desc {
    margin-top: 3.3rem;
  }
  // card block
  &__cards {
    margin-top: 6.5rem;
    flex-basis: 100%;
    display: flex;
    .card {
      padding-top: 4.8rem;
      background-color: #FAFAFA;
      border: .1rem solid rgba(57, 54, 116, 0.1);
      h4 {
        font-size: 2.2rem;
      }
    }
  }
}