<section class="section_open_iis">
  <div class="section_open_iis__content">
    <h1>Откроем ИИС онлайн за 5 минут</h1>
    <div class="section_open_iis__cards">
      <div class="section_open_iis__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Начните с любой суммы',
          p: 'Пополнить счет можно на любую<br/>желаемую сумму до 1 млн рублей.<br/>Для получения максимального налогового<br/>вычета в 52 000 рублей нужно пополнить<br/>счет на 400 000 рублей за год',
          img: '../../img/section_open_iis/coins.svg'
        })
      </div>
      <div class="section_open_iis__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Закройте в любой момент',
          p: 'Если вам срочно понадобятся деньги, <br/>их можно вернуть, досрочно закрыв ИИС. <br/>Мы поможем в этой ситуации. <br/>В случае досрочного закрытия ранее<br/>полученные вычеты придется вернуть.',
          img: '../../img/section_open_iis/timer.svg'
        })
      </div>
      <div class="section_open_iis__card">
        @@include('../../components/Card/index.html', {
          href: '',
          span: '',
          h4: 'Под надзором ЦБ',
          p: 'Fins - сервис с банковской и брокерской<br/>лицензией ЦБ. Деятельность<br/>регулируется ФЗ "О рынке ценных бумаг"<br/>и "О защите прав и законных интересов инвесторов на рынке ценных бумаг"',
          img: '../../img/section_open_iis/eye.svg'
        })
      </div>
    </div>
    <div class="section_open_iis__form">
      @@include('../../components/Form/index.html')
    </div>
  </div>
</section>