<section class="section_main_info">
  <div class="section_main_info__content">
    <div class="section_main_info__left">
      <h1>Индивидуальный<br/>инвестиционный счет</h1>
      <p class="section_main_info__desc">
        Получите до 52 000 ₽ в год в виде налогового вычета<br/>по государственной программе
      </p>
      <a class="section_main_info__btn" href="">Открыть ИИС за 5 минут</a>
      <span class="section_main_info__adv">просто. бесплатно. онлайн</span>
    </div>
    <div class="section_main_info__right">
      <div class="section_main_info__right-img"></div>
    </div>
    <div class="section_main_info__cards">
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: 'https://fins.money/doc/general/IIS.pdf',
          info: '',
          ref_name: 'подробнее об ИИС',
          span: 'до',
          h4: '52 000 ₽',
          p: 'можно получать<br/>каждый год',
          img: '../../img/section_main_info/hand_and_money.svg'
        })
      </div>
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: 'https://www.interfax.ru/business/678720',
          info: 'по данным',
          ref_name: 'интерфакса',
          span: 'более',
          h4: '5 000 000 000 ₽',
          p: 'выплатили гражданам РФ<br/>по ИИС за 2015-2018 год',
          img: '../../img/section_main_info/money.svg'
        })
      </div>
      <div class="section_main_info__card">
        @@include('../../components/Card/index.html', {
          href: 'https://www.moex.com/n29616/?nt=106f',
          info: 'по данным',
          ref_name: 'МосБиржи',
          span: 'более',
          h4: '2 000 000',
          p: 'граждан РФ уже<br/>воспользовались программо',
          img: '../../img/section_main_info/graph.svg'
        })
      </div>
    </div>
  </div>
  
</section>