<a class="product">
  <div class="product__header product__header-@@theme">
    <img src="@@logo" alt="">
    @@title
  </div>
  <div class="product__info">
    <div class="product__info-item">
      <span class="product__info-prefix">
        годовых, ДО
      </span>
      <span class="product__info-annum">
        @@annum
      </span>
    </div>
    <div class="product__info-item">
      <span class="product__info-prefix">
        срок
      </span>
      <span class="product__info-term">
        @@term
      </span>
    </div>
  </div>
</a>