<section class="section_get_maximum">
  <div class="section_get_maximum__content">
      <h1>Хотите получить максимум от ИИС?</h1>
      <p class="section_get_maximum__desc">
        Можно получать дополнительный доход, вкладывая средства в известные<br/>компании со 100% защитой ваших денег
      </p>
      <div class="section_get_maximum__products">
        <div class="section_get_maximum__product">
          @@include('../../components/Product/index.html', {
            annum: '20%',
            term: '3 мес',
            title: 'Максимум дохода',
            logo: '../../img/products/bcs.svg',
            theme: 'bcs'
          })
        </div>
        <div class="section_get_maximum__product">
          @@include('../../components/Product/index.html', {
            annum: '14%',
            term: '6 мес',
            title: 'Доход с Газпром',
            logo: '../../img/products/gazprom.svg',
            theme: 'gazprom'
          })
        </div>
        <div class="section_get_maximum__product">
          @@include('../../components/Product/index.html', {
            annum: '10%',
            term: '12 мес',
            title: 'Доход с Яндекс',
            logo: '../../img/products/yandex.svg',
            theme: 'yandex'
          })
        </div>
      </div>
  </div>
</section>