<header class="header">
  <img class="header__logo" src="../../img/header/fins_logo.svg" alt="">
  <div class="header__desc">
    <div>Cервис для управления ИИС</div>
    <div>
      с банковской и брокерской лицензией ЦБ
      <img src="../../img/header/info.svg" alt="">
    </div>
  </div>
  <div class="header__line"></div>
  <img class="header__bcs-logo" src="../../img/header/bcs_logo.svg" alt="">
  <div class="header__feedback">
    <a href="tel:+88005001001" class="header__feedback-tel">
      <img src="../../img/header/phone.svg" alt=""/>8 800 500 10 01
    </a>
    <a href="#" class="header__feedback-button">Войти</a>
  </div>
</header>